*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}



body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-image: linear-gradient(to right, rgb(242, 240, 240) , rgb(193, 193, 193));
    overflow-x: hidden;
    background-size: cover;
  }

  a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    list-style: none;
  }

  /* Navbar */
  .nav-section{
    padding-top: 2rem;
  }

.navbar {
    background: #fff;
    width: 450px;
    margin: 0 auto;
    font-size: 14px;
    border-radius: 25px;
    box-shadow: 2px 10px 20px #333;
  }
  
  .navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }

  .navbar .container .logo{
    margin: 5px 5px;
  }

  .navbar .container .logo a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background: #aaccdd;
  }

  .navbar .container .logo a img:hover{
    border: 1px solid #6ea0bb;
    transition: 0.2s;
  }
  .navbar .container .name-text{
    display: none;
  }

  
  .navbar .main-menu ul {
    display: flex;
  }

  .nav-btn{
    padding: 0.6rem 0.9rem;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 25px;
    margin: 5px 2px;
  }
  
  
 /* Hover effect */
.navbar ul li a:hover {
    color: #fff;
    background: #6ea0bb;
    border-radius: 25px;
  }
  
  .navbar ul li a.active {
    color: #fff;
    background: #6ea0bb;
    border-radius: 25px;
  }
  
  .navbar ul li a i {
    margin-right: 10px;
  }
  
  /* Hamburger Button */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 1000;
  }
  
  .hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
  }
  
  /* Mobile Menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
  }
  
  .mobile-menu.active {
    right: 0;
  }
  
  .mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
  }
  
  .mobile-menu ul li {
    margin: 10px 0;
    display: flex;
  }
  
  .mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
  }

  @media (max-width: 670px) {
    .nav-section{
        padding-top: 1rem;
    }
    .navbar{
        width: 90%;

    }
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar .container .name-text, name-tag{
        display: flex;
        flex-wrap: wrap;
      }
      .name-tag{
        font-size: 25px;
      }
    .navbar .container .name-text h6{
        font-size: 14px;
    }
    .navbar .main-menu {
      display: none;
    }
  
    .navbar .hamburger-button {
      display: block;
    }
    .left-container,.right-container{
        width: 312px;
    }
    
  }  


  /* main section */
 .main-section{
    padding-top: 1.5rem;
}

.main-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin: auto;
    flex-wrap: wrap;
}

.main-container .left-container{
    width: 23%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 8px 12px 22px rgba(0, 0, 0, 0.2);
}
.main-container .left-container .avatar-box{
    padding: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaccdd;
    border-radius: 25px;
    box-shadow: 1px 1px 15px #3e728d;
    margin: 20px;
}

.main-container .left-container .avatar-box img{
    width: 150px;

}

.main-container .name-tag{
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid gray;
    font-size: 24px;
    display: block;
    align-items: center;
    margin: auto;
    text-align: center;
}

.main-container .name-tag h5{
    padding-top: 1rem;
    font-weight: 400;
    font-size: 25px;
}

.main-container .name-tag h6{
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 400;
    display: block;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
} 

.main-container .left-container .container-contact{
    margin-top: 2rem;
    width: 100%;
}

.main-container .left-container .container-contact .contact-card{
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

.card-icon{
    font-size: 35px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 4px;
    margin: 5px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}
.card-text{
    margin: 5px;
}
.card-text p{
    font-size: 12px;
}

.main-container .right-container{
    width: 70%;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    box-shadow: 8px 12px 22px rgba(0, 0, 0, 0.2);

}
.main-container .right-container .heading h1{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 30px;
}
.main-container .right-container .heading p{
    text-align: center;
    /* padding-top: 1rem; */
    font-size: 14px;
    margin: 0rem 1rem;
}

.doings{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.doings h1{
    display: block;
    text-align: center;
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: auto;
    font-size: 25px;
}
.doings .card1{
    width: 46%;
    padding: 10px;
    margin: 15px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.4)
}

.doings .card1 .c-icon{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

.doings .card1 .title{
    margin: 0 20px;
    width: 60%;
}

.doings .card1 .title h6{
    font-size: 20px;

}

.doings .card1 .title p{
    font-size: 12px;
}


.social-container{
    width: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 2rem;
}

.s-icon{
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.s-icon:hover{
    transform: scale(1.25);
    transition: 0.5s;
}


/* Media queries  */

/* Responsive Styles */
@media (max-width: 1200px) {
    .main-container .left-container {
        width: 90%;
        margin: 1rem auto;
    }

    .main-container .right-container {
        width: 90%; 
        margin: 1rem auto;
    }
}

@media (max-width: 913px) {
    .main-container .left-container {
        width: 90%; /* Adjust width on smaller devices */
    }
    .main-container .left-container .name-tag{
        display: block;
        text-align: center;
    }

    .main-container .right-container {
        width: 90%; /* Adjust right container width */
    }
    .doings .card1{
        width: 90%;
        margin: 10px auto;
        display: flex;
        align-items: center;
    }
    .doings .card1 .c-icon{
        width: 60px;
        height: 60px;
    }
    .doings .card1 .title{
        width: 60%;
    }
}

@media (max-width: 768px) {
    .main-container .left-container {
        width: 100%; /* Full width on smaller devices */
        margin: 10px 0;
    }

    .main-container .right-container {
        width: 100%; /* Full width on smaller devices */
        margin: 10px 0;
    }

    .main-container .name-tag {
        font-size: 20px; /* Adjust font size for mobile */
    }

    .main-container .name-tag h5 {
        font-size: 20px; /* Adjust font size for mobile */
    }

    .main-container .name-tag p {
        font-size: 22px; /* Adjust font size for mobile */
    }

    .main-container .left-container .avatar-box {
        width: 120px;
        height: 120px; /* Adjust avatar size for mobile */
    }

    .main-container .left-container .mail-info .icons i,
    .main-container .left-container .dob-info .icons i {
        font-size: 25px; /* Adjust icon size for mobile */
    }
}

@media (max-width: 480px) {
    .main-container .left-container {
        width: 100%; /* Full width for very small devices */
    }

    .main-container .right-container {
        width: 100%; /* Full width for very small devices */
    }

    .main-container .name-tag h5 {
        font-size: 35px; /* Adjust font size for very small devices */
    }

    .main-container .name-tag p {
        font-size: 20px; /* Adjust font size for very small devices */
    }
    .main-container .name-tag {
        font-size: 30px; /* Adjust font size for very small devices */
    }

    .main-container .left-container .avatar-box {
        width: 100px;
        height: 100px; /* Adjust avatar size for very small devices */
    }
    .main-container .left-container .avatar-box img {
        width: 100px;
    }
    .doings .card1 .c-icon{
        width: 60px;
    }

    .h-icon{
        width: 60px;
    }
    .right-container .head-container .main-heading{
        font-size: 18px;
        width: 190px;
    }
    .experience .e-icon{
        width: 40px;
        font-size: 35px;
        padding: 5px;
    }
    .experience .e-content{
        width: 220px;
    }
    .education-heading{
        font-size: 18px !important;
    }
    .e-content{
        width: 224px;
    }
    .tech-wrapper{
        width: 95% !important;
        gap: 0 !important;
    }


}



/* Resume.css Brainfreezed  */



.right-container .head-container{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin: 20px;
}
.right-container .head-container .h-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

.main-heading{
    font-size: 35px;
}

.experience{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.e-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    margin: 10px 32px;
}

.e-content{
    width: 80%;
}

.e-content h5{
    display: flex;
    justify-content: space-between;
}

.e-content a{
    width: 40px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);

}

.e-content a:hover{
    
    transform: scale(1.5);
    transition: 0.5s;

}

.e-content p{
    font-size: 12px;
}

.tech-heading{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.head-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    margin: 10px 32px;
}

.tech-wrapper{
    /* width: 80%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    margin: auto; */
    width: 80%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: auto;
}

.wrapper-icon{
    width: 40px;
    height: 40px;
    margin: 16px;
    padding: 5px;
    font-size: 30px;
    border-radius: 12px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: width 0.3s ease, font-size 0.3s ease;
}

.wrapper-icon::after{
    content: attr(data-name); 
    position: absolute;
    bottom: -30px; 
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.wrapper-icon:hover{
    transform: scale(1.15);
    transition: 0.5s;
}

.wrapper-icon:hover::after{
    opacity: 1; 
    visibility: visible;
}



.education{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin: 0 20px;
}

.education-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}


.education-heading{
    font-size: 35px;
}

.edu-back{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social-container-resume{
    width: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 1rem;
}

.learning-heading{
    text-align: center;
    padding: 2.5rem 0;
}

.learning-wrapper{
    width: 80%;
    padding: 1.5rem 0;
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: auto;
}

.skills-heading{
    text-align: center;
    font-size: 30px;
    margin: 1rem 0;
}

.skills-wrapper {
    width: 80%;
    padding: 1.5rem 0;
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: auto;
}

.skills-icon {
    width: 50px;
    height: 50px;
    margin: 16px;
    padding: 5px;
    font-size: 40px;
    border-radius: 12px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: width 0.3s ease, font-size 0.3s ease;
}

.skills-icon::after {
    content: attr(data-name); 
    position: absolute;
    bottom: -30px; 
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.skills-icon:hover {
    width: 100px; 
    
}

.skills-icon:hover::after {
    opacity: 1; 
    visibility: visible;
}

.projects-heading{
    text-align: center;
    padding-top: 2rem;
}



.skills-wrapper {
    width: 80%;
    padding: 1.5rem 0;
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: auto;
}

.skills-icon {
    width: 50px;
    height: 50px;
    margin: 16px;
    padding: 5px;
    font-size: 40px;
    border-radius: 12px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: width 0.5s ease, font-size 0.5s ease;
}

.skills-icon::after {
    content: attr(data-name); 
    position: absolute;
    bottom: -30px; 
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.skills-icon:hover {
    width: 100px; 
}

.skills-icon:hover::after {
    opacity: 1; 
    visibility: visible;
}

.right-container .contact-info{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 4rem 0;
    font-family: cursive;
    
}

@media (max-width: 767px) {
    
    .skills-wrapper, .learning-wrapper {
        flex-direction: column; 
        width: 90%; 
        font-size: 24px; 
        padding: 1rem; 
    }

    .skills-icon {
        width: 40px; 
        height: 40px;
        font-size: 30px; 
        margin: 8px;
    }

    .skills-icon::after {
        font-size: 12px; 
        bottom: -25px;
    }

    .skills-icon:hover {
        width: 80px; 
    }

   
    .learning-wrapper {
        margin-top: 20px; 
    }

    .learning-wrapper .skills-icon {
        width: 40px; 
        height: 40px;
        font-size: 30px;
        margin: 8px;
    }

    .learning-wrapper .skills-icon::after {
        font-size: 12px; 
        bottom: -25px; 
    }

    .learning-wrapper .skills-icon:hover {
        width: 80px; 
    }
}


@media (max-width: 1024px) {
   
    .skills-wrapper, .learning-wrapper {
        width: 75%; 
        padding: 1rem;
    }

    .skills-icon {
        width: 45px;
        height: 45px;
        font-size: 35px;
        margin: 12px;
    }

    .skills-icon::after {
        font-size: 13px; 
        bottom: -28px; 
    }

    .skills-icon:hover {
        width: 90px; 
    }

 
    .learning-wrapper {
        margin-top: 20px;
    }

    .learning-wrapper .skills-icon {
        width: 45px;
        height: 45px;
        font-size: 35px;
        margin: 12px;
    }

    .learning-wrapper .skills-icon::after {
        font-size: 13px;
        bottom: -28px;
    }

    .learning-wrapper .skills-icon:hover {
        width: 90px;
    }
}


@media (min-width: 1025px) {
    .skills-wrapper, .learning-wrapper {
        width: 70%; 
    }

    .skills-icon {
        width: 50px; 
        height: 50px;
        font-size: 40px;
        margin: 16px;
    }

    .skills-icon::after {
        font-size: 14px; 
        bottom: -30px; 
    }

    .skills-icon:hover {
        width: 100px; 
    }

   
   

    .learning-wrapper .skills-icon {
        width: 50px;
        height: 50px;
        font-size: 40px;
        margin: 16px;
    }

    .learning-wrapper .skills-icon::after {
        font-size: 14px;
        bottom: -30px;
    }

    .learning-wrapper .skills-icon:hover {
        width: 100px;
    }
}



